---
{
 "urlFormat": "index.html"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{global.name}}</title>
  <meta name="description" content="{{global.name}}">
  {{>head}}
  {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
  <!--Replace with your tailwind.css once created-->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
 <div class="container mx-auto px-4">
  {{>navbar}}

  <div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('/images/luxurystore.jpg'); height: 60vh; max-height:460px;"></div>





  <section class="about relative mt-16">
    <span class="absolute top-0 left-8"><img src="images/circle.png" alt="circle"></span>
    <div class="w-full max-w-7xl px-4 lg:px-10 flex flex-wrap justify-between mx-auto">
     <div class="relative w-full md:w-5/12 text-center md:text-left">
       <img class="rounded-custom-radius border-4 border-current border-black border-opacity-50 inline-block" src="images/about-main.jpg" alt="about">
       <img class="hidden lg:ml-0 xl:ml-24 lg:-mt-36 md:block" src="images/about-2.jpg" alt="about2">
     </div>

     <div class="w-full md:w-7/12 pt-8 xl:pt-32 md:pl-4 xl:pl-0">
       <h3 class="font-light text-secondary capitalize text-3xl font-Josefin pb-2">About Us</h3>
       <h2 class="text-2xl lg:text-4xl font-bold text-black font-Josefin pb-4">Welcome to {{global.name}}</h2>
       <p class="font-base text-lightgray font-Josefin leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.,  sunt in culpa qui officia deserunt mollit anim id est laborum.  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       <p class="font-base text-lightgray font-Josefin leading-relaxed pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.,  sunt in culpa qui officia deserunt mollit anim id est laborum.  sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       <a class="bg-secondrylight hover:bg-black text-white font-medium capitalize px-10 py-3 inline-block rounded-full mt-4 lg:mt-12" href="#">Read More</a>
     </div>
   </div>
 </section>


 <section class="bg-mission relative mt-24  xl:mt-24 bg-repeat md:bg-repeat-x py-16" style="background:url(images/mission.jpg);">
  <div class="w-full max-w-7xl px-4 lg:px-10 flex flex-wrap justify-between mx-auto items-center">
   <div class="relative w-full md:w-2/4 order-2 md:order-1">
    <h3 class="font-light text-white capitalize text-xl xl:text-3xl font-Josefin pb-2">Our Rating</h3>
    <h2 class="text-2xl xl:text-4xl font-bold text-white font-Josefin pb-4">Lorem ipsum is placeholder text layouts and visual mockups.</h2>

    <p class="font-base text-white font-Josefin leading-relaxed pt-3 font-normal opacity-80 lg:pr-16 md:pb-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.,  sunt in culpa qui officia deserunt mollit anim id est laborum.  sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </div>

  <div class="w-full text-center md:w-2/4 inline-block order-1 md:order-2">
   <img class="inline-block" src="images/hexyazon-img.png" alt="hexa">
 </div>
</div>
</section>

<section class="relative mt-16 bg-repeat-x">
  <h3 class="font-light text-secondary capitalize text-xl xl:text-3xl font-Josefin pb-2 text-center">Our Blog</h3>
  <h2 class="text-2xl xl:text-4xl font-bold text-black font-Josefin pb-4 text-center mb-8">VIEW LATEST NEWS</h2>
  <div class="w-full max-w-7xl px-5 flex flex-wrap justify-between mx-auto">
   <div class="w-full md:w-2/6 md:px-4 mb-6 md:mb-0">
     <div class="text-center bg-white">
       <figure><img class="w-full" src="images/blog1.png" alt="blog1"></figure>
       <div class="md:px-4 lg:px-8 py-6">
        <h2 class="font-bold text-black font-Josefin text-lg text-center pb-2">Life in UK – John</h2>
        <p class="text-base text-gray leading-6 font-Josefin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
          <a class="inline-block font-Josefin text-secondary" href="#">View Article</a></p><p></p>
        </div>
      </div>
    </div>

    <div class="w-full md:w-2/6 md:px-4 mb-6 md:mb-0">
      <div class="text-center bg-white">
        <figure><img class="w-full" src="images/blog2.png" alt="blog1"></figure>
        <div class="md:px-4 lg:px-8 py-6">
         <h2 class="font-bold text-black font-Josefin text-lg text-center pb-2">Life in US – Smith</h2>
         <p class="text-base text-gray leading-6 font-Josefin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
           <a class="inline-block font-Josefin text-secondary" href="#">View Article</a></p><p></p>
         </div>
       </div>
     </div>

     <div class="w-full md:w-2/6 md:px-4">
      <div class="text-center bg-white">
        <figure><img class="w-full" src="images/blog3.png" alt="blog1"></figure>
        <div class="md:px-4 lg:px-8 py-6">
         <h2 class="font-bold text-black font-Josefin text-lg text-center pb-2">Life in London – Joe</h2>
         <p class="text-base text-gray leading-6 font-Josefin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
           <a class="inline-block font-Josefin text-secondary" href="#">View Article</a></p><p></p>
         </div>
       </div>
     </div>



     
   </div>
 </section>

 {{>footer}}
</div>

</body>
</html>
