---
{
 "urlFormat": "index.html"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{global.name}}</title>
  <meta name="description" content="{{global.name}}">
  {{>head}}
  {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
  <!--Replace with your tailwind.css once created-->
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/fonts/openSans.css" />
  <link rel="stylesheet" href="/fonts/Oswald.css" />
</head>

<body class="bg-white text-gray-600 font-OpenSans leading-normal text-base tracking-normal">
   {{>navbar}}

  <div class="w-full m-0 p-0 bg-cover bg-bottom relative banner-top">
    <img src="images/SELBY_IMAGE_-_HOME_PAGE_TEMP-scaled.jpg">
  </div>





  <section class="about relative mt-16">
    <div class="w-full max-w-7xl px-4 lg:px-10 flex flex-wrap justify-between mx-auto">

     <div class="w-full md:w-1/2 pt-8 xl:pt-32 md:pl-4 xl:pl-0 pr-4">
       <h2 class="text-2xl lg:text-4xl font-bold text-black font-Oswald uppercase pb-4">CC Pro Custom Cues</h2>
       <p class="text-2xl text-textcolor font-OpenSans leading-relaxed">Century are proud to announce the launch of their new range of cues. Combining the finest materials, craftsmanship and design innovation we can now offer a unique high-performance orientated product specifically designed to dominate in today’s power game.</p>
       <a class="bg-buttonbg hover:bg-black text-white font-medium px-10 py-3 inline-block mt-8 uppercase" href="#">View Product</a>
     </div>
          <div class="relative w-full md:w-1/2 text-center md:text-left">
          <img class=" lg:ml-0 " src="images/001.jpg" alt="about2">
     </div>


   </div>
 </section>



  <section class="brands relative mt-16">
    <div class="w-full max-w-7xl px-4 lg:px-10 flex flex-wrap justify-between mx-auto">
           <div class="relative w-full md:w-2/4 text-center md:text-left">
          <img class=" lg:ml-0 " src="images/SELBY_IMAGE_-_HOME_PAGE_TEMP-1980x1236.jpg" alt="about2">
     </div>

     <div class="w-full md:w-2/4 pt-2 pl-8 pr-4">
       <h2 class="text-2xl lg:text-4xl font-bold text-black font-Oswald uppercase pb-4">CC BRAND AMBASSADORS</h2>
       <p class="text-sm text-textcolor font-OpenSans leading-relaxed">“I have been working with CC brand now for over a year. I am very impressed with what they are trying to do and achieve. Many tournaments are now been played worldwide and our equipment needs to be of the highest standard. I use a CC G3 tip which has never let me down and it is the best cue tip i have ever used.” MARK SELBY</p>
       <a class="bg-buttonbg hover:bg-black text-white font-medium px-8 py-3 inline-block mt-4 uppercase" href="#">View More</a>
     </div>


   </div>
 </section>




  <section class="brands relative mt-16">
    <div class="w-full max-w-7xl px-4 lg:px-10 flex flex-wrap justify-between mx-auto">
           <div class="relative w-full md:w-2/4 text-center md:text-left">
          <img class=" lg:ml-0 " src="images/Kyren_Wilson_-600x435.jpg" alt="about2">
     </div>

     <div class="w-full md:w-2/4 pt-2 pl-8 pr-4">
       <h2 class="text-2xl lg:text-4xl font-bold text-black font-Oswald uppercase pb-4">TOURNAMENT WINNERS</h2>
       <p class="text-sm text-textcolor font-OpenSans leading-relaxed">Since 2017 CC brand has been leading the way in cue tip development globally. With over 70% of professional players now using CC tips on the main WST World tour. We are proud to say that over 30 major ranking titles have been won by some of the world’s leading players using CC tips.</p>

       <p class="text-sm text-textcolor font-OpenSans leading-relaxed">Checkout our Champions page to see the full list of tournament winners<br><br>
        <br>
        KYREN WILSON (G4) <br><br>
        Paul Hunter Classic 2018, Six Red World Championship 2018, German Masters 2019<br>
        </p>

       <a class="bg-buttonbg hover:bg-black text-white font-medium px-8 py-3 inline-block mt-4 uppercase" href="#">View More</a>
     </div>


   </div>
 </section>



  <section class="brands relative mt-24">
    
   <h2 class="text-3xl font-bold text-black font-Oswald uppercase pb-4 text-center">TESTIMONIALS</h2>

<div class="w-full bg-testibg mt-24">
  
  <div class="container mx-auto">
    
    <div class="flex flex-wrap justify-between mx-auto w-4/5">
      <div class="relative w-full md:w-2/4 text-left">
          <img class="-mt-20 -mb-20" src="images/XIAO-GUODONG.png" alt="about2">
     </div>


      <div class="relative w-full md:w-2/4 text-left pt-10">
       <p class="text-gray text-2xl">XIAO GUODONG<span class="text-white block uppercase font-bold text-sm mt-3 tracking-widest">Professional Snooker Player (China) </span></p>
       <p  class="text-gray mt-8 text-lg">I HAVE BEEN USING A CUSTOM G5 CC CUE TIP FOR A WHILE NOW AND I HAVE TO SAY IT IS THE BEST TIP I HAVE EVER USED. SUPER HARD BUT WITH FEEL AND BRILLIANT PLAYABILITY. </p>

          
     </div>

      


    </div>


  </div>




</div>



  </section>






</body>
</html>
